BookmarksLiferay/bin/classes/com/liferay/bookmarks/ui/acitivity/ViewBookmarkActivity$1.class
BookmarksLiferay/bin/classes/com/liferay/bookmarks/ui/acitivity/ViewBookmarkActivity$2.class
BookmarksLiferay/bin/dexedLibs/android-support-v4-cba99875ee4bff68bfec408c321b3f88.jar
BookmarksLiferay/bin/dexedLibs/httpclient-android-4.3.3-03a2ea8c9affe76c812c4c8e3844ec74.jar
BookmarksLiferay/bin/dexedLibs/httpmime-4.3.3-0b98b5cc72d61792ba74e5a1bd806359.jar
BookmarksLiferay/bin/dexedLibs/liferay-android-sdk-6.2.0.5-51e7c67b948788eb4c4d6014d80c1648.jar
